/* Generic tags */
html, body
{
     width: 100vw;
     height: 100vh;
}
/* ----- Header Section ----- */
header
{
     width: 100vw;
     height: 250px
     background-color: coral;
}
     header.brand
     {
	font-family: 'Alegreya Sans SC', sans-serif;
     }
nav
{
}
section
{
}

/* Classes */
.login_error
{
}
.login-form
{
}


